<div class="row m-0 position-absolute">
    <div class=" col-md-5 col-sm-12 offset-md-1 offset-sm-0 my-auto">
<h2>About ME</h2>
<h5 class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, reprehenderit sunt sed cumque atque possimus, rem porro officia saepe repellat aperiam suscipit eveniet odio incidunt eligendi explicabo nostrum et placeat excepturi mollitia! Veniam incidunt dolore aperiam, mollitia quae doloremque aliquam debitis maiores itaque magni commodi, expedita officiis cumque, omnis exercitationem eum ea fugit recusandae reprehenderit possimus cum fugiat et voluptate error. Mollitia sunt facilis omnis labore commodi expedita, ratione maiores magni voluptate doloremque velit ad harum dolorem, hic quas distinctio.</h5>
    </div>
    <div class=" col-md-4 col-sm-12 offset-md-2 offset-sm-0 position-relative">

<img src="./assets/img/z.jfif" alt="" class=" img11 w-100">


<!-- <img src="../../../assets/img/zzz.jfif" style="z-index: 9;" class=" img111 start-0 w-50 top-50 rounded-circle position-absolute "  alt=""> -->

    </div>

</div>
