<div class=" container">

    <div class="row">

        <div  class=  " col-md-4 d-flex  flex-column justify-content-center">
            <div>

               <h2 class=" w-100 my-5" >Trending Movies To Show Right Now</h2>


            </div>
        </div>

        <div class=" col-lg-2 col-md-4 col-sm-12 position-relative my-4" *ngFor="let movie of allMovies">
            <a [routerLink]="['/MovieDetails',movie.id]" class=  "item">
                <img [src]="'https://image.tmdb.org/t/p/w500/'+movie.poster_path" class=" w-100" alt="">
                <h3>{{movie.title}}</h3>
                <!-- <p>{{movie.overview}}</p> -->
                <div class=" vot position-absolute d-flex align-items-center justify-content-center top-0 end-0 bg-dark text-white">
                    {{movie.vote_average | number:'1.0-2'}}
                </div>
            </a>
        </div>
    </div>
</div>
